<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>Log In</h1>

    <div class="form-outline mb-4">
        <input type="email" name="email">
        <label for="from3Example3">email</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="password">
        <label for="from3Example3">password</label>
    </div>
<button type="submit">Sing in</button>
    <div>
        <div>
            <p>Don't have an acount yet?<a href="/register">Register</a></p> 
         </div>
    </div>
</body>
</html>